<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.envoyr.com/devtools/unconfigured.css">
    <title>Resource not configured</title>
</head>
<body>
    <div id="header">
        <a href="https://uplinq.dev">
            <img height="72" src="https://cdn.envoyr.com/devtools/logo.svg" />
        </a>
    </div>
    <div id="content">
        <h2>Resource not configured</h2>
        <p>If you are the administrator, please check your server configuration.</p>
    </div>
</body>
</html>
